@{
    ViewBag.Title = "Image Gallery";
}

<div class="row">
    <div class="col-md-12">
        @foreach (var image in ViewBag.Images)
        {
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="@Url.Content("~/Images/")@image.FileName" class="thumbnail">
                    <p>@image.Description</p>
                    <img src="@Url.Content("~/Images/")@image.FileName" />
                </a>
            </div>
        }
    </div>
</div>
